:root {
    --tiptor-caret: rgb(50, 48, 44);
    --tiptor-background: rgb(255, 255, 255);
    --tiptor-foreground: rgb(50, 48, 44);
    --tiptor-secondary: rgb(55 53 47 / 6%);
    --tiptor-secondary-foreground: rgb(70 68 64 / 45%);
    --tiptor-accent: rgb(55 53 47 / 6%);
    --tiptor-input: rgb(242 241 238 / 60%);
    --tiptor-primary: rgb(35, 131, 226);
    --tiptor-destructive: rgb(235, 87, 87);
    --tiptor-title-placeholder: rgb(55 53 47 / 15%);
}

.dark {
    --tiptor-caret: rgb(255 255 255 / 81%);
    --tiptor-background: rgb(25, 25, 25);
    --tiptor-foreground: rgb(255 255 255 / 81%);
    --tiptor-secondary: rgba(255, 255, 255, 0.055);
    --tiptor-secondary-foreground: rgba(255, 255, 255, 0.282);
    --tiptor-accent: rgba(255, 255, 255, 0.03);
    --tiptor-input: rgb(255 255 255 / 6%);
    --tiptor-primary: rgb(35, 131, 226);
    --tiptor-destructive: rgb(235, 87, 87);
    --tiptor-title-placeholder: rgb(55, 55, 55);
}

@theme inline {
    --color-tiptor-caret: var(--tiptor-caret);
    --color-tiptor-background: var(--tiptor-background);
    --color-tiptor-foreground: var(--tiptor-foreground);
    --color-tiptor-secondary: var(--tiptor-secondary);
    --color-tiptor-secondary-foreground: var(--tiptor-secondary-foreground);
    --color-tiptor-accent: var(--tiptor-accent);
    --color-tiptor-input: var(--tiptor-input);
    --color-tiptor-primary: var(--tiptor-primary);
    --color-tiptor-destructive: var(--tiptor-destructive);
    --color-tiptor-title-placeholder: var(--tiptor-title-placeholder);
}
