@import "tailwindcss";

@theme inline {
    --color-highlighter: var(--color-highlighter-default);
}

:root {
    --color-highlighter-default: oklab(97.292% -0.01583 0.06742);
}

.dark {
    --color-highlighter-default: oklch(49.858% 0.08561 104.056);
}

.prose {
    @apply text-foreground z-10 text-base leading-normal;

    & h1:not(.not-prose h1),
    & h2:not(.not-prose h2),
    & h3:not(.not-prose h3),
    & h4:not(.not-prose h4),
    & h5:not(.not-prose h5),
    & h6:not(.not-prose h6) {
        @apply w-full scroll-m-20 px-[2px] py-[3px] leading-[1.3] font-semibold break-words whitespace-break-spaces first:mt-0;

        & + p {
            @apply mt-0;
        }
    }

    & h1:not(.not-prose h1) {
        @apply mt-[2em] mb-1 text-[1.875em];
    }

    & h2:not(.not-prose h2) {
        @apply mt-[1.4em] mb-1 text-[1.5em];
    }

    & h3:not(.not-prose h3) {
        @apply mt-[1em] mb-1 text-[1.25em];
    }

    & h4:not(.not-prose h4) {
        @apply mt-[0.8em] mb-1 text-[1.125em];
    }

    & h5:not(.not-prose h5) {
        @apply mt-[0.6em] mb-1 text-[1em];
    }

    & h6:not(.not-prose h6) {
        @apply mt-[0.4em] mb-1 text-[1em];
    }

    & p:not(.not-prose p) {
        @apply my-[1px] w-full px-[2px] py-[3px] break-words whitespace-break-spaces;
    }

    & a:not(.not-prose a) {
        @apply text-primary cursor-pointer underline underline-offset-2;

        & strong {
            @apply font-semibold;
        }
    }

    & blockquote:not(.not-prose blockquote) {
        @apply my-2 ml-0.5 border-l-3 text-[1em] italic;

        & p {
            @apply my-0 px-3.5 py-0;
        }
    }

    & code:not(pre code):not(.not-prose code) {
        @apply font-fira-code text-destructive bg-muted rounded px-[0.4em] py-[0.2em] text-[85%] leading-normal;
    }

    & kbd:not(.not-prose kbd) {
        @apply font-fira-code bg-muted text-muted-foreground rounded px-[0.4em] py-[0.2em] text-[85%] leading-normal font-semibold;
    }

    & pre:not(.not-prose pre) {
        @apply bg-code-background my-1 w-full min-w-0 flex-grow rounded p-6 text-left;

        & code {
            @apply flex overflow-x-auto px-0 py-3 text-left text-base;

            & div {
                @apply font-fira-code min-h-[1em] flex-shrink-0 bg-transparent text-[85%] whitespace-pre;
            }
        }
    }

    & .lead:not(.not-prose .lead) {
        @apply text-muted-foreground text-[1.25em];
    }

    & .large:not(.not-prose .large) {
        @apply text-[1.125em] font-semibold;
    }

    & .small:not(.not-prose .small) {
        @apply text-[0.875em] leading-none font-medium;
    }

    & .muted:not(.not-prose .muted) {
        @apply text-muted-foreground text-[0.875em];
    }

    & small:not(.not-prose small) {
        @apply text-[0.875em] leading-none;
    }

    & hr:not(.not-prose hr) {
        @apply border-border my-4;
    }

    & dl:not(.not-prose dl) {
        @apply my-1;

        & dt {
            @apply mt-4 font-semibold first:mt-0;
        }
    }

    & mark:not(.not-prose mark) {
        @apply bg-highlighter text-foreground rounded box-decoration-clone p-[0.05em] px-[0.2em];
    }

    & strong:not(.not-prose strong) {
        @apply font-semibold;
    }

    & ul:not(.not-prose ul),
    & ol:not(.not-prose ol) {
        @apply [&>li]:marker:text-muted-foreground my-4 ml-6 [&>li>p:last-child:not(:first-child)]:mb-2;

        & ul:not(.not-prose ul) {
            @apply my-0;
        }

        & ol:not(.not-prose ol) {
            @apply my-0;
        }
    }

    & ul:not(.not-prose ul):not([data-type="taskList"]) {
        @apply list-disc;

        & ul:not([data-type="taskList"]) {
            @apply list-[circle];
        }

        & ul ul:not([data-type="taskList"]) {
            @apply list-[square];
        }
    }

    & ol:not(.not-prose ol):not([data-type="taskList"]) {
        @apply list-decimal;

        & ol:not([data-type="taskList"]) {
            @apply list-[lower-alpha];
        }

        & ol ol:not([data-type="taskList"]) {
            @apply list-[lower-roman];
        }
    }

    & ul[data-type="taskList"]:not(.not-prose ul[data-type="taskList"]) {
        li {
            @apply relative flex flex-row items-center justify-start;

            &[data-checked="true"] {
                > div > p {
                    @apply text-muted-foreground line-through;
                }

                > div > p span {
                    @apply line-through;
                }
            }

            label {
                @apply absolute top-[1em] -left-1 -translate-x-full -translate-y-1/2;

                input[type="checkbox"] {
                    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0;
                }

                input[type="checkbox"]:checked + span {
                    @apply bg-primary border-none;

                    &::before {
                        @apply opacity-100;
                    }
                }

                span {
                    @apply bg-muted border-border relative block h-[1em] w-[1em] cursor-pointer rounded border transition-all duration-100;

                    &::before {
                        @apply absolute top-1/2 left-1/2 h-[0.75em] w-[0.75em] -translate-x-1/2 -translate-y-1/2 transform bg-white opacity-0;
                        content: "";
                        -webkit-mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E")
                            center/contain no-repeat;
                        mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E")
                            center/contain no-repeat;
                    }
                }
            }
        }
    }
}
