@import "tailwindcss";
@import "tw-animate-css";
@import "@/styles/codeblock-theme.css";
@import "@/styles/typography-prose.css";

/* Font faces */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("@/assets/fonts/InterV.ttf") format("truetype-variations");
}
@font-face {
    font-family: "EB_Garamond";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("@/assets/fonts/EBGaramondV.ttf") format("truetype-variations");
}
@font-face {
    font-family: "IA_Writer_Mono";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("@/assets/fonts/IAWriterMonoV.ttf") format("truetype-variations");
}
@font-face {
    font-family: "Noto_Sans";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("@/assets/fonts/NotoSansV.ttf") format("truetype-variations");
}
@font-face {
    font-family: "Open_Sans";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("@/assets/fonts/OpenSansV.ttf") format("truetype-variations");
}
@font-face {
    font-family: "Fira_Code";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("@/assets/fonts/FiraCodeV.ttf") format("truetype-variations");
}

/* Dark mode variant */
@custom-variant dark (&:is(.dark *));

/* Tailwindv4 theme */
@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* Custom variables */
    --font-inter: "Inter", var(--font-sans);
    --font-eb-garamond: "EB_Garamond", var(--font-serif);
    --font-ia-writer-mono: "IA_Writer_Mono", var(--font-mono);
    --font-noto-sans: "Noto_Sans", var(--font-sans);
    --font-open-sans: "Open_Sans", var(--font-sans);
    --font-fira-code: "Fira_Code", var(--font-mono);
    --breakpoint-xs: 24rem;
}

:root {
    --radius: 0.5rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.3012 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3012 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3012 0 0);
    --primary: oklch(0.5465 0.2455 262.8657);
    --primary-foreground: oklch(0.9705 0.0142 254.6042);
    --secondary: oklch(0.9702 0 0);
    --secondary-foreground: oklch(0.3791 0 0);
    --muted: oklch(0.9702 0 0);
    --muted-foreground: oklch(0.5555 0 0);
    --accent: oklch(0.9702 0 0);
    --accent-foreground: oklch(0.2046 0 0);
    --destructive: oklch(0.6498 0.1843 22.3087);
    --border: oklch(0.9219 0 0);
    --input: oklch(0.9219 0 0);
    --ring: oklch(0.709 0 0);
    --chart-1: oklch(0.8088 0.0991 251.7533);
    --chart-2: oklch(0.6207 0.1894 259.9358);
    --chart-3: oklch(0.5495 0.2202 263.0917);
    --chart-4: oklch(0.4893 0.2202 264.0405);
    --chart-5: oklch(0.421 0.1792 266.0094);
    --sidebar: oklch(0.9851 0 0);
    --sidebar-foreground: oklch(0.3012 0 0);
    --sidebar-primary: oklch(0.5465 0.2455 262.8657);
    --sidebar-primary-foreground: oklch(0.9705 0.0142 254.6042);
    --sidebar-accent: oklch(0.9702 0 0);
    --sidebar-accent-foreground: oklch(0.2046 0 0);
    --sidebar-border: oklch(0.9219 0 0);
    --sidebar-ring: oklch(0.709 0 0);
}

.dark {
    --background: oklch(0.1913 0 0);
    --foreground: oklch(0.8853 0 0);
    --card: oklch(0.2264 0 0);
    --card-foreground: oklch(0.8853 0 0);
    --popover: oklch(0.2264 0 0);
    --popover-foreground: oklch(0.8853 0 0);
    --primary: oklch(0.623 0.214 259.815);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.2809 0 0);
    --secondary-foreground: oklch(0.8853 0 0);
    --muted: oklch(0.2809 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.8853 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(0.2809 0 0);
    --input: oklch(0.325 0 0);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.81 0.1 252);
    --chart-2: oklch(0.62 0.19 260);
    --chart-3: oklch(0.55 0.22 263);
    --chart-4: oklch(0.49 0.22 264);
    --chart-5: oklch(0.42 0.18 266);
    --sidebar: oklch(0.2264 0 0);
    --sidebar-foreground: oklch(0.8853 0 0);
    --sidebar-primary: oklch(0.623 0.214 259.815);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.275 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

/* Base styles */
@layer base {
    * {
        @apply border-border outline-none;
    }
    body {
        @apply bg-background text-foreground font-sans antialiased;
    }
    kbd,
    code {
        @apply font-fira-code;
    }
}

/* Scrollbar styles */
* {
    &::-webkit-scrollbar {
        display: block;
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        /* border color is used for scrollbar thumb */
        background-color: var(--border);
        border-radius: 4px;
    }

    /* Firefox scrollbar */

    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
}
